body {
	font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
		Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif,
		LastResort;
}

.bouton{
    display: block;
    background-color: lightgrey;
    border-radius: 3px;
    border: 1px grey;
    text-decoration: none;
    color: black;
    padding:5px;
    margin: 10px;
    float: left;
    width: 100px;
    text-align: center;
}

.bouton:hover{
    border: 3px grey;
    box-shadow: 0px 0px 5px lightskyblue;
}

h1, h2{
    text-align: center;
}